.carbon-color-row { position: relative; }
.carbon-color-row .button { width: auto; }

/* Icon Font */
.carbon-field .icon-button { width: 28px; height: 28px; margin-left: 7px; padding: 0; font-size: 0; line-height: 0; text-align: center; vertical-align: top !important; }
.carbon-subcontainer .carbon-complex-action a:before,
.carbon-preview .carbon-file-remove,
.carbon-field .icon-button:before { font: normal normal normal 22px/1 'dashicons'; speak: none; text-transform: none; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.carbon-required { color: #C31D1D; font-weight: bold; text-shadow: 0 0 5px #C31D1D; }

.carbon-field input.regular-text,
.carbon-field input.carbon-file-field,
.carbon-field input.carbon-image-field,
.carbon-field input.carbon-datepicker,
.carbon-field input.carbon-color { width: 100%; }

.carbon-field select { width: 100%; max-width: 25em; }

.carbon-field input.carbon-file-field,
.carbon-field input.address,
.carbon-field input.carbon-datepicker { width: calc(100% - 40px); }

.carbon-field input.carbon-color { width: calc(100% - 80px); }

.carbon-row td { background: #FCFCFC; }
.carbon-empty-row td { padding: 15px 20px !important; }

.carbon-group-row > td,
.carbon-group-row > th { border-top: 1px solid #FFF; border-bottom: 1px solid #E0E0E0; }

.carbon-group-preview { display: none; }

.carbon-view_image { width: auto; height: auto; max-width: 200px; max-height: 100px; margin: 3px; border: 1px solid #e8e8e8; box-shadow: 0 1px 3px rgba(0,0,0,.3); background: #eee; }
.carbon-view_image.blank { margin: 0; border: 0 none; box-shadow: 0 0; }

.carbon-preview { float: left; position: relative; }
.carbon-preview .carbon-file-remove { position: absolute; top: 0; right: 0; width: 22px; height: 22px; cursor: pointer; }
.carbon-preview .carbon-file-remove:before { content: "\f153"; background: #FFF; border-radius: 50%; color: #C00; }
.carbon-preview ~ .attachment_url { word-wrap: break-word; }

.carbon-attachment-title,
.carbon-attachment-url { display: block; margin: 3px 0 0; word-break: break-all; }
.carbon-attachment-url { font-family: monospace; } 
.carbon-attachment .carbon-file-remove,
.carbon-file .carbon-file-remove { margin: 6px 6px 0 !important; }
.carbon-field .carbon-view_image.blank ~ .carbon-file-remove { position: static; margin-left: 3px !important; }
.carbon-field.carbon-attachment input.carbon-file-field { display: none !important; }

.carbon-datepicker-trigger,
.carbon-color-preview { display: inline; margin: 0 0 0 7px; padding: 3px 13px; line-height: 20px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #DFDFDF; cursor: pointer; }

.carbon-color-container { display: none; width: 195px; height: 195px; margin: 0 0 0 3px; background: #fafafa; border: 1px solid #ccc; box-shadow: 3px 3px 5px rgba(60, 60, 60, .3); z-index: 1;
	-webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomright: 4px;     -moz-border-radius-bottomleft: 4px;
	        border-bottom-right-radius: 4px;         border-bottom-left-radius: 4px; }

.carbon-attachment .c2_open_media { margin-left: 0; margin-bottom: 5px; }

.button.pickcolor:before,
.button.carbon-datepicker-trigger:before { color: #333; font-size: 20px; line-height: 26px; }
.carbon-map-with-address .address-search-btn:before,
.carbon-file .c2_open_media:before { color: #333; font-size: 20px; line-height: 26px; }

.carbon-file .c2_open_media:before { content: "\f497"; }
.carbon-image .c2_open_media:before { content: "\f128"; }
.carbon-map-with-address .address-search-btn:before { content: "\f179"; }
.button.pickcolor:before { content: "\f309"; }
.button.carbon-datepicker-trigger:before { content: "\f508"; }

.carbon-map-canvas { height: 400px; max-width: 800px; padding: 2px; border: 1px solid #ccc; }
.carbon-map-field { display: none !important; }

.carbon-map-with-address p { margin: 0; padding: 0 0 5px; }

.carbon-radio-list { }
ul.carbon-radio-list { margin: 0; }
ul.carbon-radio-list li { margin-bottom: 3px; }
ul.carbon-radio-list label { font-weight: normal; }
ul.carbon-radio-list input { width: auto; margin-right: 5px; }

.form-field .carbon-field label { font-weight: bold; }

.carbon-relationship ul { border: 1px solid #ccc; position: relative; background: #fff; }
.carbon-relationship ul li { margin: 0; padding: 0; display: block;}
.carbon-relationship ul li a { display: block; position: relative; padding: 3px; border-bottom: 1px solid #f5f5f5; text-decoration: none; }
.carbon-relationship ul li a span { display: none; position: absolute; width: 15px; height: 15px; cursor: pointer; right: 5px; top: 3px; }
.carbon-relationship ul li a span:before { display: inline-block; -webkit-font-smoothing: antialiased; font: normal 15px/1 'dashicons'; vertical-align: top; color: #666; }
.carbon-relationship ul li a em { float: right; font-style: normal; color: #999; margin-right: 20px; text-transform: uppercase; font-size: 11px; }
.carbon-relationship ul li a:hover { background-color: #eaeff5; color: #333; }
.carbon-relationship ul li a:hover span { display: block; }
.carbon-relationship .widefat { border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-color: #ccc; }
.carbon-relationship .widefat th { padding: 5px; border-bottom: 0 none; }
.carbon-relationship .widefat input { width: 100%; margin: 0; font-size: 12px; line-height: 15px; border-radius: 13px; font-family: sans-serif; padding: 5px 9px !important; }
.mobile .carbon-relationship ul li a { padding: 7px; }

.carbon-relationship .relationship-left { width: 48.5%; float: left; }
.carbon-relationship .relationship-left ul { display: block; height: 150px; margin: 0; overflow: auto; border-top: 0 none; }
.carbon-relationship .relationship-left ul a span:before { content: "\f502"; }

.carbon-relationship .relationship-right { width: 48.5%; float: right; }
.carbon-relationship .relationship-right label { display: none; }
.carbon-relationship .relationship-right ul { height: 188px; min-height: 188px; /* min-height set for touch devices */ margin: 0; overflow: auto; }
.carbon-relationship .relationship-right ul a { cursor: move; }
.carbon-relationship .relationship-right ul a span:before { content: "\f153"; }

.carbon-relationship .relationship-right ul.ui-sortable { touch-action: auto; }

.carbon-relationship .relationship-list li.inactive a { background-color: #f5f5f5; opacity: 0.6; cursor: default; }
.carbon-relationship .relationship-list li.inactive a span { display: none; }
.carbon-relationship .relationship-list li.load-more { text-align: center; }
.carbon-relationship .relationship-list li.load-more .spinner { float: none; padding: 3px; margin: 0 auto; background-position: center center; }
.carbon-relationship.loading .relationship-list li.load-more .spinner { display: block; }

.carbon-set-list p { margin: 0 0 8px; }
.carbon-set-list label { font-weight: normal !important; }
.carbon-set-list input { margin-right: 5px; }

.carbon-field.carbon-rich-text td { padding: 0 !important; }
.carbon-field .wp-editor-container textarea { resize: none; }

.carbon-separator td { padding: 0; border: 0 none; }
.js .carbon-separator h3, .carbon-separator h3, .carbon-row.subrow-separator h3 { margin: 0; border: none; cursor: default; }

.carbon-container .carbon-subcontainer .col-separator { position: relative; width: 25px !important; padding: 0; border: 1px solid #E0E0E0; border-top: none; border-bottom-color: #E8E8E8; background: #F5F5F5; }
.carbon-container .carbon-subcontainer .col-separator h3.carbon-separator { word-wrap: break-word; padding: 8px !important; }

/* Widget Carbon Container */
.widget-content .carbon-container { margin: 13px 0 0; }
.widget-content .carbon-container > div { margin-bottom: 13px; }
.widget-content .carbon-container .carbon-field { margin-top: 1px; }

.carbon-subcontainer  { background: #E0E0E0 !important; width: 100%; }
.carbon-subcontainer th { font-weight: normal; }
.carbon-subcontainer td { background: #FFF; }
.carbon-subcontainer .carbon-drag-handle { width: 20px !important; padding: 0 !important; background: #F5F5F5; border-right: 1px solid #E0E0E0; text-align: center; vertical-align: middle !important; cursor: move; }
.carbon-subcontainer .carbon-drag-handle span { display: block; }
.carbon-subcontainer .carbon-drag-handle span:after { display: inline-block; -webkit-font-smoothing: antialiased; font: normal 15px/1 'dashicons'; vertical-align: top; content: "\f156"; color: #666; }
.carbon-subcontainer .carbon-action-col { width: 25px !important; padding: 0 !important; background: #F5F5F5; border-left: 1px solid #E0E0E0; text-align: center; vertical-align: middle !important; }

.carbon-subcontainer .carbon-complex-action a { position: relative; display: inline-block; width: 19px; height: 19px; margin: 10px 0; color: transparent; font-size: 0; text-indent: -5000em; }
.carbon-subcontainer .carbon-complex-action a:before { width: 20px; height: 20px; color: #000; font-size: 20px; line-height: 1; }
.carbon-subcontainer .carbon-complex-action a:hover:before { color: #666; }
.carbon-subcontainer .carbon-complex-action a.carbon-btn-duplicate:before { content: "\f105"; }
.carbon-subcontainer .carbon-complex-action a.carbon-btn-collapse:before { content: "\f142"; }
.carbon-subcontainer .carbon-complex-action a.carbon-btn-remove:before { content: "\f153"; color: #C00; background: #FFF; border-radius: 50%; }
.carbon-subcontainer .carbon-complex-action a.carbon-btn-remove:hover:before { color: #f33; }

.carbon-subcontainer .minimized .carbon-complex-action a.carbon-btn-collapse:before { content: "\f140"; }

.carbon-subcontainer .layout-table { width: 100%; padding-top: 25px; }
.carbon-subcontainer.layout-table .carbon-btn-holder { position: relative; }
.carbon-subcontainer.layout-table .carbon-complex-action { position: absolute; top: 5px; right: 0; }
.carbon-subcontainer.layout-table .carbon-complex-action a { margin: 0 5px 0 0; }

.carbon-subcontainer .carbon-group-row.removed .carbon-drag-handle { background: #e74444; }
.carbon-subcontainer .carbon-group-row.duplicated .carbon-drag-handle { background: #82c0ec; }

.carbon-wysiwyg .mceIframeContainer { background:#fff; }
.carbon-wysiwyg .wp-editor-area { border: 0; }
.carbon-html ul { margin: 14px 28px; list-style-type: disc; }

#profile-page .form-table textarea,
#addtag textarea,
#edittag textarea { max-width: 100%; width: 100%; }

#addtag .carbon-field { margin-bottom: 15px; }
#addtag .carbon-field.carbon-highlight,
#edittag .carbon-field.carbon-highlight,
#addtag .carbon-field.carbon-complex td { padding: 15px 10px; }
#addtag .carbon-field.carbon-complex th { text-align: left; vertical-align: top; }

body.touchscreen .carbon-relationship .relationship-right ul { height: auto; }

@media screen and (max-width: 1120px) {
	.carbon-subcontainer.layout-table .carbon-complex-action { position: static; padding: 8px 0; float: right; }
	.carbon-subcontainer .carbon-complex-action a { width: 26px; height: 26px; }
	.carbon-subcontainer .carbon-complex-action a:before { font-size: 24px; line-height: 1; }
	.carbon-subcontainer.layout-table .carbon-complex-action a { margin-right: 15px; }
}

@media screen and (max-width: 782px) {
	.carbon-field .icon-button,
	.carbon-field .icon-button:active { width: 36px; height: 36px; vertical-align: middle !important; }
	
	.carbon-subcontainer .carbon-complex-action a:before,
	.carbon-field .icon-button:before { font-size: 22px; line-height: 34px; }
	
	.carbon-color-preview { padding: 7px 17px; }
	
	.carbon-field input[type=checkbox], 
	.carbon-field input[type=radio] { width: 25px; height: 25px; margin-top: 0; }

	.carbon-field input.carbon-file-field,
	.carbon-field input.address,
	.carbon-field input.carbon-datepicker { width: calc(100% - 50px) !important; display: inline !important; }
	
	.carbon-field input.carbon-color { width: calc(100% - 100px) !important; display: inline !important; }

	.carbon-subcontainer .layout-table { padding-top: 0; }

	.carbon-subcontainer .carbon-empty-row td { display: table-cell; }

	.carbon-subcontainer .carbon-drag-handle { display: table-cell; }
	.carbon-subcontainer .carbon-drag-handle + td,
	.carbon-subcontainer .carbon-complex-entry-content { padding-left: 15px; display: table-cell; }
	.carbon-subcontainer .carbon-actions td { padding-left: 15px; display: table-cell; }

	.carbon-subcontainer tr.carbon-row th { display: block; width: 100%; border-bottom: 0; }
	.carbon-subcontainer tr.carbon-row th + td { display: block; }
}

@media screen and (max-width: 600px) {
	.carbon-relationship .relationship-left,
	.carbon-relationship .relationship-right { width: auto; float: none; }
	.carbon-relationship .relationship-right { padding-top: 10px; }
	.carbon-relationship .relationship-right label { display: block; }
	.carbon-relationship .relationship-right ul { min-height: 97px; }
}