/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

.carbon-field,
.carbon-Complex .fields-container,
.carbon-Relationship .relationship-left,
.carbon-Relationship .relationship-right,
.carbon-Relationship .search-field,
.carbon-Attachment .attachment-url {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.carbon-button { position: relative; float: left; }
.carbon-button ul { background: #fff; border: 1px solid #e5e5e5; box-shadow: 0 0 3px rgba(0,0,0,.2); margin: 0 0 10px; position: absolute; top: 100%; left: 0; min-width: 100%; display: none; z-index: 9999; }
.carbon-button li { margin: 0; }
.carbon-button li ~ li { border-top: 1px solid #e5e5e5; }
.carbon-button li a { display: block; font-size: 12px; line-height: 18px; padding: 5px 10px; text-decoration: none; white-space: nowrap; }
.carbon-button li a:hover { background: #f8f8f8; }

/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

.carbon-field .icon-button { width: 28px; height: 28px; padding: 0; margin-left: 6px; font-size: 0; line-height: 0; text-align: center; vertical-align: top !important; }
.carbon-group-actions a:before,
.carbon-btn-remove-sidebar:before,
.carbon-preview .carbon-file-remove,
.carbon-field .icon-button:before { font: normal normal normal 22px/26px 'dashicons'; speak: none; text-transform: none; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; vertical-align: top; }
.carbon-preview .carbon-file-remove { font-size: 20px; }
.carbon-Attachment .icon-button { width: auto; padding-right: 10px; font-size: 13px; line-height: 26px; }
.carbon-Attachment .icon-button:before { line-height: 26px; }

.carbon-btn-remove-sidebar { position: absolute; top: 10px; right: 33px; padding: 0; margin: 0; font-size: 0; line-height: 0; text-decoration: none; color: #c00; opacity: 0.7; }
.carbon-btn-remove-sidebar:hover { color: #c00; opacity: 1; }
.carbon-btn-remove-sidebar:before { font-size: 16px; line-height: 1.5; }

.carbon-group-actions a.carbon-btn-remove:before { content: "\f153"; background: #fff; border-radius: 50%; }
.carbon-group-actions a.carbon-btn-remove:hover:before { color: #f33; }
.carbon-Attachment .c2_open_media:before { content: "\f497"; }
.carbon-File .c2_open_media:before { content: "\f497"; }
.carbon-Image .c2_open_media:before { content: "\f128"; }
.carbon-Map .address-search-btn:before { content: "\f179"; }
.button.pickcolor:before { content: "\f309"; }
.button.carbon-datepicker-trigger:before { content: "\f508"; }
.carbon-btn-remove-sidebar:before { content: "\f335"; }

/* ------------------------------------------------------------ *\
	Containers
\* ------------------------------------------------------------ */

.carbon-container * { margin: 0; padding: 0; }
.carbon-container p { margin: 0; padding: 0 0 3px; font-style: normal; }
.carbon-container h3 { font-size: 17px; margin: 0 0 4px; color: #000; }
.carbon-container label { display: block; padding: 2px 0; color: #000; }
.carbon-container .carbon-button { margin-top: 15px; }
.carbon-container .help-text,
.carbon-container .description { display: block; padding-top: 3px; padding-bottom: 1px; font-style: italic; }

.carbon-container-Widget .collapsed > .fields-container,
.carbon-fields-collection .collapsed > .fields-container { display: none; }
.carbon-fields-collection  { padding-bottom: 20px; }

.carbon-fields-row > .carbon-field { min-width: 100%; }

.carbon-grid .carbon-field + .carbon-field,
.carbon-grid .carbon-field + .carbon-fields-row,
.carbon-grid .carbon-fields-row + .carbon-field { border-top: 1px solid #d9d9d9; }

/* Table layout */
.carbon-table-row > td { padding: 0; }
.carbon-table-row .container-holder > .carbon-tabs > .carbon-tabs-nav { background: transparent; }

/* Tabs */
.carbon-tabs { margin-top: 5px; }
.carbon-tabs .carbon-tab { display: none; }
.carbon-tabs .carbon-tab.active { display: block; }
.carbon-tabs .carbon-tabs-body { margin-top: 1px }

.carbon-tabs-nav { border-bottom: solid 1px #ddd; margin: -5px 0px -1px 0px; padding: 15px 0 0 10px; background: #F9F9F9; }
.carbon-tabs-nav li { display: inline-block; position: relative; top: 1px; margin-bottom: 0;}
.carbon-tabs-nav li a {display: inline-block; margin: 0 4px 0px 0; padding: 6px 10px; border: solid 1px #ccc; background: #E4E4E4; color: #000; font-size: 14px; line-height: 24px; text-decoration: none; font-weight: bold; }
.carbon-tabs-nav li.active a { text-decoration: none; background: white; margin-bottom: -1px; border-bottom-color: #fff; }
.carbon-tabs-nav li.active a:focus, .carbon-tabs-nav li.active a:active { box-shadow: none; }
.carbon-tabs-nav li a:hover { background: white; }

/* Error State */
.carbon-container .carbon-highlight { background: #fff0ee !important; -webkit-transition: background 2s; transition: background 2s;}
.carbon-container .carbon-highlight > .carbon-error { display: block; }
.carbon-container .carbon-error { display: none; padding-top: 5px; color: #c31d1d }
.carbon-container .help-text + .carbon-error { padding-top: 0; }

/* ------------------------------------------------------------ *\
	Container - Custom Fields, Theme Options
\* ------------------------------------------------------------ */

#poststuff .carbon-box,
#poststuff .spinner.disabled { display: none; }
#poststuff .carbon-box .inside { margin: 0; padding: 0; }

.carbon-box .carbon-fields-collection { padding-bottom: 0; }

.carbon-theme-options #post-body.columns-2 #postbox-container-1.fixed { position: fixed; right: 0; margin-right: 20px; }

/* ------------------------------------------------------------ *\
	Container - Terms, Users
\* ------------------------------------------------------------ */

.carbon-term-container { width: 95%; }
.carbon-term-container .carbon-field > label { color: #23282d; }

/* Add Term */
.add-term-container .carbon-container { margin-left: -10px; margin-right: -10px; }
.add-term-container .carbon-field > label { font-weight: normal; }
.add-term-container .carbon-field .help-text { font-size: 13px; color: #666; }
.add-term-container > .carbon-tabs > .carbon-tabs-nav { background: transparent; }

/* Users */
.carbon-user-container { max-width: 800px; }
#profile-page .carbon-user-container textarea { width: 100%; max-width: none; }

/* ------------------------------------------------------------ *\
	Container - Widgets
\* ------------------------------------------------------------ */

.carbon-container-Widget { margin: 0 -15px 15px -15px; width: auto; border-bottom: 1px solid #d9d9d9; }
.carbon-container-Widget > .carbon-field:first-child { margin-top: -1px; }

/* ------------------------------------------------------------ *\
	Fields
\* ------------------------------------------------------------ */

.carbon-field { padding: 10px; margin: 0; }
.carbon-field .help-text { padding-top: 3px; font-style: italic; font-size: 14px; }

.carbon-field label { padding-bottom: 6px; font-weight: bold; }
.carbon-field input[type="text"],
.carbon-field textarea { display: block; padding: 4px 5px 3px; width: 100%; resize: vertical; }
.carbon-field select { width: 100%; }
.carbon-field .multiple-groups { margin-top: 6px; }
.carbon-field .carbon-required { color: #aa0000; }
.carbon-field .input-with-button { position: relative; padding-right: 38px; }
.carbon-field .input-with-button .button { position: absolute; top: 0; right: 0; }

/* Set and Radio list */
.carbon-field p label input[type="checkbox"],
.carbon-field p input[type="checkbox"],
.carbon-field p input[type="radio"],
.carbon-field > input[type="checkbox"] { float: left; margin: 2px 8px 0 0; }
.carbon-field .carbon-radio-list,
.carbon-field .carbon-set-list { padding-top: 6px; }
.carbon-field .carbon-radio-list li,
.carbon-field .carbon-set-list p { position: relative; overflow: hidden; padding: 0 0 9px; margin: 0; }
.carbon-field .carbon-set-list label,
.carbon-field .carbon-radio-list label { font-weight: normal; padding: 0; }
.carbon-field .carbon-description:after { content: ''; display: block; clear: both; width: 100%; }

/* ------------------------------------------------------------ *\
	Field - Relationship
\* ------------------------------------------------------------ */

.carbon-Relationship .relationship-container { clear: both; overflow: hidden; margin: 3px -10px 0; }
.carbon-Relationship .relationship-container .relationship-right label { display: none; }
.carbon-Relationship .relationship-left,
.carbon-Relationship .relationship-right { width: 50%; padding: 0 10px; border: 0; margin: 0; }
.carbon-Relationship .relationship-left { float: left; }
.carbon-Relationship .relationship-right { float: right; }

.carbon-Relationship ul { position: relative; border: 1px solid #ddd; background: #fff; }
.carbon-Relationship ul li { position: relative; display: block; padding: 0; margin: 0; background: #fff; }
.carbon-Relationship ul li a { position: relative; display: block; padding: 5px 6px; border-bottom: 1px solid #f5f5f5; text-decoration: none; }
.carbon-Relationship ul li a span { position: absolute; top: 7px; right: 5px; display: none; width: 15px; height: 15px; cursor: pointer; }
.carbon-Relationship ul li a span:before { display: inline-block; -webkit-font-smoothing: antialiased; font: normal 15px/1 'dashicons'; vertical-align: top; color: #666; }
.carbon-Relationship .relationship-right li a span:before { color: #c00;  }
.carbon-Relationship ul li a em { float: right; margin-right: 20px; font-size: 11px; font-style: normal; text-transform: uppercase; color: #999; }
.carbon-Relationship ul li a i.trashed { display: inline-block; margin: 0 3px; }
.carbon-Relationship ul li a i.trashed:before { font: normal 15px/19px 'dashicons'; content: "\f182"; display: inline-block; color: #666; vertical-align: top; }
.carbon-Relationship ul li a:hover { background-color: #eaeff5; color: #333; }
.carbon-Relationship ul li a:hover span { display: block; }
.carbon-Relationship .search-field { width: 100%; padding: 0; border: 1px solid #ddd; border-spacing: 0; margin: 0; }
.carbon-Relationship .search-field input { width: 100%; padding: 5px 9px !important; border: 0; margin: 0; font-size: 13px; line-height: 18px; border-radius: 0; font-family: sans-serif; }
.carbon-Relationship .mobile-handle { display: none; }
.mobile .carbon-Relationship ul li a { padding: 7px; }
.touchscreen .carbon-Relationship .relationship-right .mobile-handle:before { content: '\f333'; font-family: 'dashicons', sans-serif; font-size: 16px; line-height: 1.88; }
.touchscreen .carbon-Relationship .relationship-right .mobile-handle { position: absolute; top: 0; left: 0; z-index: 30; display: block; width: 30px; height: 100%; text-align: center; }
.touchscreen .carbon-Relationship .relationship-right a { padding-left: 30px; }

.carbon-Relationship .relationship-left ul { overflow: auto; display: block; height: 162px; border-top: 0 none; margin: 0; -webkit-overflow-scrolling: touch; }
.carbon-Relationship .relationship-left ul a span:before { content: "\f502"; }

.carbon-Relationship .relationship-right label { display: none; }
.carbon-Relationship .relationship-right ul { overflow: auto; height: 188px; min-height: 188px; margin: 0; -webkit-overflow-scrolling: touch; }
.carbon-Relationship .relationship-right ul a { cursor: move; }
.carbon-Relationship .relationship-right ul a span:before { content: "\f153"; }
.carbon-Relationship .relationship-right ul.ui-sortable { touch-action: auto; }

.carbon-Relationship .relationship-list li.inactive a { background-color: #f5f5f5; opacity: 0.6; cursor: default; }
.carbon-Relationship .relationship-list li.inactive a span { display: none; }
.carbon-Relationship .relationship-list li.load-more { text-align: center; }
.carbon-Relationship .relationship-list li.load-more .spinner { float: none; padding: 3px; margin: 0 auto; background-position: center center; }
.carbon-Relationship.loading .relationship-list li.load-more .spinner { display: block; }

/* ------------------------------------------------------------ *\
	Field - File, Image, Attachment
\* ------------------------------------------------------------ */

.carbon-File .carbon-view_file { margin: 6px 0 0; }

.carbon-attachment-preview { width: 150px; position: relative; float: left; padding: 5px 0 10px; margin: 0; color: #464646; list-style: none; text-align: center; }
.carbon-Image .carbon-attachment-preview { padding-top: 10px; padding-bottom: 4px; }

.carbon-preview { position: relative; -webkit-box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 ); box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 ); background: #eee; }
.carbon-preview:before { content: ''; display: block; padding-top: 100%; }
.carbon-preview .thumbnail { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; opacity: 1; -webkit-transition: opacity .1s; transition: opacity .1s; }
.carbon-preview .thumbnail:after { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 ); box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 ); overflow: hidden; }
.carbon-preview .thumbnail .centered { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform: translate( 50%, 50% ); -ms-transform: translate(50%,50%); transform: translate( 50%, 50% ); }
.carbon-preview .thumbnail .centered img { position: absolute; top: 0; left: 0; max-width: 100%; -webkit-transform: translate( -50%, -50% ); -ms-transform: translate(-50%,-50%); transform: translate( -50%, -50% ); }

.carbon-preview .carbon-file-remove { position: absolute; top: -10px; right: -10px; cursor: pointer; }
.carbon-preview .carbon-file-remove:before { content: "\f153"; background: #fff; border-radius: 50%; color: #C00; }

.carbon-Attachment .input-with-button .button { position: relative; margin: 0 0 6px; }
.carbon-Attachment .attachment-url { overflow: hidden; clear: both; padding: 3px 5px; border: 1px solid #ddd; margin: 0 0 4px; font-size: 14px; line-height: 19px; word-break: break-all; background: #f6f6f6; box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1); }

/* ------------------------------------------------------------ *\
	Field - RichText
\* ------------------------------------------------------------ */

.carbon-RichText textarea { border-width: 0; }
.carbon-RichText .description { padding-top: 5px; }
.carbon-RichText .wp-editor-tools { float: left; }
.carbon-RichText .carbon-wysiwyg { margin-top: 5px; }
.carbon-RichText .wp-editor-tabs { margin-top: 1px;  }

/* ------------------------------------------------------------ *\
	Field - HTML
\* ------------------------------------------------------------ */

.carbon-HTML h1,
.carbon-HTML h2,
.carbon-HTML h3,
.carbon-HTML h4,
.carbon-HTML h5,
.carbon-HTML h6 { margin-bottom: 0.8em; }
.carbon-HTML blockquote { font-family: Georgia, serif; border-left: 2px solid #000; padding-left: 15px; }
.carbon-HTML ul,
.carbon-HTML ol { margin-left: 20px; margin-bottom: 18px; }
.carbon-HTML li { margin-bottom: 2px; }
.carbon-HTML > label { display: none; }
.carbon-HTML :last-child { margin-bottom: 0; }
.carbon-HTML .description { padding-bottom: 4px; }

/* ------------------------------------------------------------ *\
	Field - Color Picker
\* ------------------------------------------------------------ */

.carbon-Color input.carbon-color.error { background-color: #e74444; }
.carbon-Color input.carbon-color { -webkit-transition: background-color 0.5s ease; transition: background-color 0.5s ease; }
.carbon-Color .button.pickcolor { -webkit-box-shadow: none; box-shadow: none; }
.carbon-Color .button.has-color:before { content:""; }
.carbon-Color .iris-picker { position: absolute; top: 100%; left: 0; z-index: 10; border: 1px solid #e5e5e5; box-shadow: 0 0 5px rgba(0,0,0,.2); }

/* ------------------------------------------------------------ *\
	Field - Map
\* ------------------------------------------------------------ */

.carbon-Map .carbon-map-search p { margin-top: 0; }
.carbon-map-canvas { height: 300px; border: 1px solid #ddd; margin: 10px 0 4px; }

/* ------------------------------------------------------------ *\
	Field - Separator
\* ------------------------------------------------------------ */

.carbon-Separator { position: relative; padding: 18px 15px; background: #fcfcfc; }
.carbon-Separator .help-text { padding-top: 5px; }
.carbon-Separator label { display: none; }
.carbon-Separator h3,
#poststuff .carbon-Separator h3 { padding: 0; font-size: 17px; margin: 0; }

.add-term-container .carbon-container > .carbon-Separator,
.carbon-table-row .carbon-container > .carbon-Separator { margin: 10px; min-width: 0; }

.add-term-container .carbon-container > .carbon-Separator,
.carbon-table-row .carbon-container > .carbon-Separator { border: 1px solid #d9d9d9; }

/* ------------------------------------------------------------ *\
	Field - Complex
\* ------------------------------------------------------------ */

.carbon-Complex .carbon-row .carbon-button { float: none; }
.carbon-Complex .carbon-actions .carbon-button { display: inline-block; float: none; }
.carbon-Complex .description { padding-top: 10px; margin-top: 0; }
.carbon-Complex .help-text { clear: both; padding-top: 10px; margin-top: 0; }

.carbon-Complex .carbon-field label { font-weight: bold; }

/* Complex Groups */
.carbon-group-row { position: relative; }
.carbon-group-row + .carbon-group-row { margin-top: 14px; }
.carbon-group-row.ui-sortable-helper:first-child + .ui-placeholder-highlight { margin-top: 0; }
.carbon-group-row .carbon-row { padding: 10px 12px 12px; }
.carbon-group-row .carbon-row.carbon-group-row { padding: 0; }

.carbon-group-row .carbon-drag-handle { position: relative; background: #f7f6f6; border: 1px solid #d9d9d9; padding: 8px 10px; cursor: move; line-height: 18px; }
.carbon-group-row .carbon-drag-handle .group-number { position: absolute; border-right: 1px solid #d9d9d9; top: 0; height: 100%; width: 40px; line-height: 34px; margin-left: -10px; text-align: center; font-weight: bold; }
.carbon-group-row .carbon-drag-handle .group-name { display: inline-block; margin-left: 45px; font-weight: bold; }
.carbon-group-row.removed > .carbon-drag-handle { background: #e74444 !important; transition: all 0.5s ease; }

.carbon-group-row .fields-container { border-width: 0 1px 1px; border-style: solid; border-color: #d9d9d9; }

.carbon-groups-holder .ui-placeholder-highlight { display: block; background: #fff; border: 1px dashed #bbb; height: 34px; margin-bottom: 14px; }

.carbon-groups-holder > .carbon-group-row > .fields-container > div { background: #f7f6f6; }
.carbon-Complex > .field-holder.max-reached > .carbon-subcontainer > .carbon-groups-holder > .carbon-group-row > .carbon-group-actions .carbon-btn-duplicate { display: none; }
.carbon-Complex.even > .field-holder > .carbon-subcontainer > .carbon-groups-holder > .carbon-group-row > .fields-container > div,
.carbon-Complex.even > .field-holder > .carbon-subcontainer > .carbon-groups-holder > .carbon-group-row > .carbon-drag-handle { background: #fff; }

.carbon-group-actions { position: absolute; top: 0; right: 0; padding: 8px 10px; }
.carbon-group-actions a { position: relative; display: inline-block; width: 19px; height: 19px; margin: 0 3px; vertical-align: middle; color: transparent; font-size: 0; text-indent: -5000em; }
.carbon-group-actions a:focus,
.carbon-group-actions a:active { outline: none !important; box-shadow: none; }
.carbon-group-actions a:before { width: 19px; height: 19px; font-size: 19px; line-height: 1; text-align: center; color: #000; }
.carbon-group-actions a.carbon-btn-duplicate:before { content: "\f105"; }
.carbon-group-actions a.carbon-btn-duplicate:hover:before { color: #016edd; }
.carbon-group-actions a.carbon-btn-collapse:before { content: "\f142"; }
.carbon-group-actions a.carbon-btn-remove:hover:before  { color: #c00; }
.carbon-group-actions a.carbon-btn-collapse:hover:before { color: #008a2d; }
.carbon-group-row.collapsed .carbon-group-actions a.carbon-btn-collapse {
	-webkit-transform: rotate(180deg) translateX(-1px) translateY(-2px);
	   -moz-transform: rotate(180deg) translateX(-1px) translateY(-2px);
		-ms-transform: rotate(180deg) translateX(-1px) translateY(-2px);
		 -o-transform: rotate(180deg) translateX(-1px) translateY(-2px);
			transform: rotate(180deg) translateX(-1px) translateY(-2px);
}


/* ------------------------------------------------------------ *\
	Media 
\* ------------------------------------------------------------ */

/* Desktop only */
@media screen and (min-width: 1100px) {
	/* Field Rows */
	.carbon-grid .carbon-fields-row:first-child { border-top: 0; }
	.carbon-grid .carbon-fields-row { display: table; width: 100%; border-top: 1px solid #d9d9d9; }
	.carbon-grid .carbon-fields-row > .carbon-field { display: table-cell; min-width: 0; vertical-align: top; border: 0; }
	.carbon-grid .carbon-fields-row > .carbon-field + .carbon-field { border-left: 1px solid #d9d9d9; }

	/* Complex Groups - List */
	.carbon-Complex .layout-list > .carbon-group-row > .fields-container { float: none; clear: none; display: table; table-layout: fixed; border-collapse: collapse; width: 100%; }
	.carbon-Complex .layout-list > .carbon-group-row > .fields-container > .carbon-row { float: none; clear: none; display: table-cell; width: auto; border-top: 0; border-left: 1px solid #ddd; vertical-align: top; }
	.carbon-Complex .layout-list > .carbon-group-row.collapsed > .fields-container { display: none; }
}

/* Tablets and Desktop */
@media screen and (min-width: 783px) {
	.carbon-table-row .carbon-container > .carbon-fields-row > .carbon-field > label,
	.carbon-table-row .carbon-container > .carbon-field > label { position: absolute; left: 0; }
}

/* Phones */
@media screen and (max-width: 850px) {
	.carbon-theme-options #post-body.columns-2 #postbox-container-1.fixed { position: static; }
}

@media screen and (max-width: 782px) {
	.edit-term-container { width: auto; }
	.carbon-table-row .carbon-container { margin-left: -10px; }

	.carbon-field .icon-button { min-width: 40px; height: 40px; }

	.carbon-preview .carbon-file-remove,
	.carbon-field .icon-button:before { font-size: 32px; line-height: 40px; }

	.carbon-field input[type="text"],
	.carbon-field textarea,
	.carbon-field select { padding: 7px 10px; font-size: 16px; line-height: 1.5; }

	.carbon-container .carbon-field .button span { margin: -3px 0 -1px 4px !important; vertical-align: middle; }
	.carbon-container .carbon-Separator { margin-left: 0; margin-right: 0; }

	.carbon-Attachment .icon-button { font-size: 14px; line-height: 40px; }

	.carbon-field .input-with-button { padding-right: 48px; }

	.add-term-container .carbon-Relationship .relationship-container { margin: 3px 0 0; }
	.add-term-container .carbon-Relationship .relationship-left,
	.add-term-container .carbon-Relationship .relationship-right { float: none; display: block; width: auto; padding: 0 0 5px; }

	.carbon-radio-list label,
	.carbon-set-list label { padding: 6px 0; line-height: 2.3; }

	.carbon-Relationship ul { font-size: 15px; }
}

@media screen and (max-width: 600px) {
	.carbon-tabs.carbon-tabs-stacked .carbon-tabs-nav li { display: block; margin-right: 8px; }
	.carbon-tabs.carbon-tabs-stacked .carbon-tabs-nav li a { display: block; }

	.carbon-Relationship .relationship-container { margin: 3px 0 0; }
	.carbon-Relationship .relationship-left,
	.carbon-Relationship .relationship-right { float: none; display: block; width: auto; padding: 0 0 10px; }
}
