.carbon-Relationship .relationship-left,
.carbon-Relationship .relationship-right,
.carbon-Relationship .search-field,
.carbon-Attachment .attachment-ur l {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}


/* Buttons */
.carbon-button { position: relative; float: left; }
.carbon-button ul { background: #fff; border: 1px solid #e5e5e5; box-shadow: 0 0 3px rgba(0,0,0,.2); margin: 0 0 10px; position: absolute; top: 100%; left: 0; min-width: 100%; display: none; z-index: 9999; }
.carbon-button li { margin: 0; }
.carbon-button li ~ li { border-top: 1px solid #e5e5e5; }
.carbon-button li a { display: block; font-size: 12px; line-height: 18px; padding: 5px 10px; text-decoration: none; white-space: nowrap; }
.carbon-button li a:hover { background: #f8f8f8; }

/* Icon Font */
.carbon-field .icon-button { width: 28px; height: 28px; padding: 0; margin-left: 6px; font-size: 0; line-height: 0; text-align: center; vertical-align: top !important; }
.carbon-field .carbon-required { text-shadow: 0 0 5px #c31d1d; }
.carbon-subcontainer .carbon-complex-action a:before,
.carbon-preview .carbon-file-remove,
.carbon-field .icon-button:before { font: normal normal normal 22px/26px 'dashicons'; speak: none; text-transform: none; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; vertical-align: top; }
.carbon-preview .carbon-file-remove { font-size: 20px; }
.carbon-Attachment .icon-button { width: auto; padding-right: 10px; font-size: 13px; line-height: 26px; }
.carbon-Attachment .icon-button:before { line-height: 26px; }

.carbon-subcontainer .carbon-complex-action a.carbon-btn-remove:before { content: "\f153"; color: #C00; background: #FFF; border-radius: 50%; }
.carbon-subcontainer .carbon-complex-action a.carbon-btn-remove:hover:before { color: #f33; }
.carbon-Attachment .c2_open_media:before { content: "\f497"; }
.carbon-File .c2_open_media:before { content: "\f497"; }
.carbon-Image .c2_open_media:before { content: "\f128"; }
.carbon-Map .address-search-btn:before { content: "\f179"; }
.button.pickcolor:before { content: "\f309"; }
.button.carbon-datepicker-trigger:before { content: "\f508"; }

/* Carbon Container */
.carbon-container { width: 100%; }

.carbon-container * { margin: 0; padding: 0; }
.carbon-container .carbon-button { margin-top: 15px; }
.carbon-container p { margin: 0; padding: 0 0 3px; font-style: normal; }
.carbon-container h3 { font-size: 17px; margin: 0 0 4px; color: #000; }
.carbon-container label { display: block; padding: 2px 0; color: #000; }
.carbon-container table,
.carbon-container tbody,
.carbon-container thead
.carbon-container th,
.carbon-container td { padding: 0; margin: 0; border: 0; border-spacing: 0; border-collapse: collapse; }
.carbon-container .carbon-empty-row td { padding: 7px 0 0; }
.carbon-container .form-field { padding: 15px 0; margin: 0; }
.carbon-container .help-text,
.carbon-container .description { display: block; padding-top: 3px; padding-bottom: 1px; font-style: italic; }
.carbon-container .carbon-Separator { position: relative; padding-left: 15px; padding-right: 15px; border: 1px solid #ccc; margin: 0 0 -1px; background: #fcfcfc; }
.carbon-container p.submit { padding-top: 30px; }

.carbon-container .carbon-RichText textarea { border-width: 0; }

.widget-content .carbon-container .collapsed > .carbon-complex-entry-content,
.container-holder .carbon-container .collapsed > .carbon-complex-entry-content { display: none; }
.container-holder  { padding-bottom: 20px; }

/* Error State */
.carbon-container .carbon-highlight { padding-left: 10px; padding-right: 10px; margin-left: -10px; margin-right: -10px; background: #fff0ee !important; }
.carbon-container .carbon-highlight input,
.carbon-container .carbon-highlight textarea {  }

/* Fields */
.carbon-field input[type="text"],
.carbon-field textarea { display: block; padding: 4px 5px 3px; width: 100%; }
.carbon-field select { width: 100%; }
.carbon-field .multiple-groups { margin-top: 6px; }
.carbon-field .carbon-required { color: #aa0000; }
.carbon-field .input-with-button { position: relative; padding-right: 38px; }
.carbon-field .input-with-button .button { position: absolute; top: 0; right: 0; }

/* Relationship */
.carbon-Relationship .relationship-container { clear: both; overflow: hidden; margin: 3px -10px 0; }
.carbon-Relationship .relationship-container .relationship-right label { display: none; }
.carbon-Relationship .relationship-left,
.carbon-Relationship .relationship-right { width: 50%; padding: 0 10px; border: 0; margin: 0; }
.carbon-Relationship .relationship-left { float: left; }
.carbon-Relationship .relationship-right { float: right; }

.carbon-Relationship ul { position: relative; border: 1px solid #ddd; background: #fff; }
.carbon-Relationship ul li { position: relative; display: block; padding: 0; margin: 0; background: #fff; }
.carbon-Relationship ul li a { position: relative; display: block; padding: 5px 6px; border-bottom: 1px solid #f5f5f5; text-decoration: none; }
.carbon-Relationship ul li a span { position: absolute; top: 7px; right: 5px; display: none; width: 15px; height: 15px; cursor: pointer; }
.carbon-Relationship ul li a span:before { display: inline-block; -webkit-font-smoothing: antialiased; font: normal 15px/1 'dashicons'; vertical-align: top; color: #666; }
.carbon-Relationship .relationship-right li a span:before { color: #c00;  }
.carbon-Relationship ul li a em { float: right; margin-right: 20px; font-size: 11px; font-style: normal; text-transform: uppercase; color: #999; }
.carbon-Relationship ul li a i.trashed { display: inline-block; margin: 0 3px; }
.carbon-Relationship ul li a i.trashed:before { font: normal 15px/19px 'dashicons'; content: "\f182"; display: inline-block; color: #666; vertical-align: top; }
.carbon-Relationship ul li a:hover { background-color: #eaeff5; color: #333; }
.carbon-Relationship ul li a:hover span { display: block; }
.carbon-Relationship .search-field { width: 100%; padding: 0; border: 1px solid #ddd; border-spacing: 0; margin: 0; }
.carbon-Relationship .search-field input { width: 100%; padding: 5px 9px !important; border: 0; margin: 0; font-size: 13px; line-height: 18px; border-radius: 0; font-family: sans-serif; }
.carbon-Relationship .mobile-handle { display: none; }
.mobile .carbon-Relationship ul li a { padding: 7px; }
.touchscreen .carbon-Relationship .relationship-right .mobile-handle:before { content: '\f333'; font-family: 'dashicons', sans-serif; font-size: 16px; line-height: 1.88; }
.touchscreen .carbon-Relationship .relationship-right .mobile-handle { position: absolute; top: 0; left: 0; z-index: 30; display: block; width: 30px; height: 100%; text-align: center; }
.touchscreen .carbon-Relationship .relationship-right a { padding-left: 30px; }

.carbon-Relationship .relationship-left ul { overflow: auto; display: block; height: 162px; border-top: 0 none; margin: 0; -webkit-overflow-scrolling: touch; }
.carbon-Relationship .relationship-left ul a span:before { content: "\f502"; }

.carbon-Relationship .relationship-right label { display: none; }
.carbon-Relationship .relationship-right ul { overflow: auto; height: 188px; min-height: 188px; margin: 0; -webkit-overflow-scrolling: touch; }
.carbon-Relationship .relationship-right ul a { cursor: move; }
.carbon-Relationship .relationship-right ul a span:before { content: "\f153"; }
.carbon-Relationship .relationship-right ul.ui-sortable { touch-action: auto; }

.carbon-Relationship .relationship-list li.inactive a { background-color: #f5f5f5; opacity: 0.6; cursor: default; }
.carbon-Relationship .relationship-list li.inactive a span { display: none; }
.carbon-Relationship .relationship-list li.load-more { text-align: center; }
.carbon-Relationship .relationship-list li.load-more .spinner { float: none; padding: 3px; margin: 0 auto; background-position: center center; }
.carbon-Relationship.loading .relationship-list li.load-more .spinner { display: block; }

/* File */
.carbon-File .carbon-view_file { margin: 6px 0 0; }

/* RichText editor */
.carbon-RichText .description { padding-top: 5px; }
.carbon-RichText .wp-editor-tools { float: left; }
.carbon-RichText .carbon-wysiwyg { margin-top: 5px; }
.carbon-RichText .wp-editor-tabs { margin-top: 1px;  }

/* Image */
.carbon-Image .carbon-attachment-preview { padding-top: 10px; padding-bottom: 4px; }

/* HTML */
.carbon-HTML .description { padding-bottom: 4px; }
.carbon-HTML h1 { margin-bottom: 0.8em; }
.carbon-HTML h2 { margin-bottom: 0.8em; }
.carbon-HTML h3 { margin-bottom: 0.8em; }
.carbon-HTML h4 { margin-bottom: 0.8em; }
.carbon-HTML h5 { margin-bottom: 0.8em; }
.carbon-HTML h6 { margin-bottom: 0.8em; }
.carbon-HTML blockquote { font-family: Georgia, serif; border-left: 2px solid #000; padding-left: 15px; }
.carbon-HTML ul,
.carbon-HTML ol { margin-left: 20px; margin-bottom: 18px; }
.carbon-HTML li { margin-bottom: 2px; }
.carbon-HTML :last-child { margin-bottom: 0; }

/* Color Picker */
.carbon-color-row { position: relative; }
.carbon-color-container { position: absolute; top: 100%; left: 0; display: none; z-index: 10; background: #fff; border: 1px solid #e5e5e5; box-shadow: 0 0 5px rgba(0,0,0,.2); }
.carbon-Color .button.pickcolor { -webkit-box-shadow: none; box-shadow: none; }
.carbon-Color .button.has-color:before { content:""; }
.carbon-Color input.carbon-color.error { background-color: #e74444; }
.carbon-Color input.carbon-color { -webkit-transition: background-color 0.5s ease; transition: background-color 0.5s ease; }

/* Set and Radio list */
.carbon-container .carbon-field p label input[type="checkbox"],
.carbon-container .carbon-field p input[type="checkbox"],
.carbon-container .carbon-field p input[type="radio"],
.carbon-container .carbon-field td > input[type="checkbox"] { float: left; margin: 2px 8px 0 0; }
.carbon-container .carbon-field .carbon-radio-list,
.carbon-container .carbon-field .carbon-set-list { padding-top: 6px; }
.carbon-container .carbon-field .carbon-radio-list li,
.carbon-container .carbon-field .carbon-set-list p { position: relative; overflow: hidden; padding: 0 0 7px; margin: 0; }
.carbon-container .carbon-field .carbon-description:after { content: ''; display: block; clear: both; width: 100%; }

/* Image and Attachment */
.carbon-attachment-preview { width: 150px; position: relative; float: left; padding: 5px 0 10px; margin: 0; color: #464646; list-style: none; text-align: center; }

.carbon-preview { position: relative; -webkit-box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 ); box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 ); background: #eee; }
.carbon-preview:before { content: ''; display: block; padding-top: 100%; }
.carbon-preview .thumbnail { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; opacity: 1; -webkit-transition: opacity .1s; transition: opacity .1s; }
.carbon-preview .thumbnail:after { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 ); box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 ); overflow: hidden; }
.carbon-preview .thumbnail .centered { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform: translate( 50%, 50% ); -ms-transform: translate(50%,50%); transform: translate( 50%, 50% ); }
.carbon-preview .thumbnail .centered img { position: absolute; top: 0; left: 0; max-width: 100%; -webkit-transform: translate( -50%, -50% ); -ms-transform: translate(-50%,-50%); transform: translate( -50%, -50% ); }

.carbon-preview .carbon-file-remove { position: absolute; top: -10px; right: -10px; cursor: pointer; }
.carbon-preview .carbon-file-remove:before { content: "\f153"; background: #fff; border-radius: 50%; color: #C00; }

.carbon-Attachment .input-with-button .button { position: relative; margin: 0 0 6px; }
.carbon-Attachment .attachment-url { overflow: hidden; clear: both; padding: 3px 5px; border: 1px solid #ddd; margin: 0 0 4px; font-size: 14px; line-height: 19px; word-break: break-all; background: #f6f6f6; box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1); }

/* Map */
.carbon-Map.carbon-highlight input { border-color: #ddd; }
.carbon-Map .carbon-map-search p { margin-top: 0; }
.carbon-map-canvas { height: 300px; border: 1px solid #ddd; margin: 10px 0 4px; }


/* Complex Groups */
.carbon-Complex table { width: 100%; }
.carbon-Complex td,
.carbon-Complex tr,
.carbon-Complex th { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.carbon-Complex .carbon-holder > td { padding: 0;  }
.carbon-Complex .carbon-holder:first-of-type > td { padding-top: 0; }

.carbon-Complex > td > label { font-weight: bold; }
.carbon-Complex .carbon-groups-holder table,
.carbon-Complex .carbon-groups-holder tbody,
.carbon-Complex .carbon-groups-holder tr,
.carbon-Complex .carbon-groups-holder th,
.carbon-Complex .carbon-groups-holder td { float: left; clear: both; display: block; width: 100%; }
.carbon-Complex .carbon-groups-holder table { padding: 0; }
.carbon-Complex .carbon-groups-holder > tbody > tr { margin-bottom: 14px; }

.carbon-Complex .carbon-groups-holder .ui-placeholder-highlight { background: #fff; border: 1px dashed #bbb; }
.carbon-Complex .carbon-groups-holder .ui-placeholder-highlight,
.carbon-Complex .carbon-groups-holder .carbon-drag-handle,
.carbon-Complex .carbon-groups-holder .carbon-complex-entry-content { display: block; width: 100% !important; }
.carbon-Complex .carbon-groups-holder .carbon-drag-handle { position: relative; background: #f7f6f6; border: 1px solid #d9d9d9; padding: 8px 10px; cursor: move; }
.carbon-Complex .carbon-groups-holder .carbon-drag-handle .group-number { position: absolute; border-right: 1px solid #d9d9d9; top: 0; height: 100%; width: 40px; line-height: 34px; margin-left: -10px; text-align: center; font-weight: bold; }
.carbon-Complex .carbon-groups-holder .carbon-drag-handle .group-name { display: inline-block; margin-left: 45px; font-weight: bold; }
.carbon-Complex .carbon-groups-holder .carbon-complex-entry-content { background: #fff; border-width: 0 1px 1px; border-style: solid; border-color: #d9d9d9; }

.carbon-Complex .carbon-groups-holder .carbon-complex-action { position: absolute; top: 3px; right: 10px; line-height: 36px; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a { position: relative; display: inline-block; width: 19px; height: 19px; margin: 0 3px; color: transparent; font-size: 0; text-indent: -5000em; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a:focus,
.carbon-Complex .carbon-subcontainer .carbon-complex-action a:active { outline: none !important; box-shadow: none; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a:before { width: 19px; height: 19px; font-size: 19px; line-height: 1; text-align: center; color: #000; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a.carbon-btn-duplicate:before { content: "\f105"; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a.carbon-btn-duplicate:hover:before { color: #016edd; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a.carbon-btn-collapse:before { content: "\f142"; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a.carbon-btn-remove:hover:before  { color: #c00; }
.carbon-Complex .carbon-subcontainer .carbon-complex-action a.carbon-btn-collapse:hover:before { color: #008a2d; }
.carbon-Complex .carbon-subcontainer .collapsed .carbon-complex-action a.carbon-btn-collapse {
	-webkit-transform: rotate(180deg) translateX(-1px) translateY(-2px);
	   -moz-transform: rotate(180deg) translateX(-1px) translateY(-2px);
		-ms-transform: rotate(180deg) translateX(-1px) translateY(-2px);
		 -o-transform: rotate(180deg) translateX(-1px) translateY(-2px);
			transform: rotate(180deg) translateX(-1px) translateY(-2px);
}

.carbon-Complex .carbon-row .carbon-button { float: none; }
.carbon-Complex .description { padding-top: 10px; margin-top: 0; }
.carbon-Complex .carbon-group-row { padding: 0; }
.carbon-Complex .carbon-group-row.removed > .carbon-drag-handle { background: #e74444 !important; transition: all 0.5s ease; }
.carbon-Complex .help-text { display: block; padding-bottom: 10px; margin-top: -6px; font-size: 11px; text-align: left; font-style: normal; }
.carbon-Complex .carbon-Separator { margin-left: 0; margin-right: 0; }

.carbon-Complex .carbon-complex-entry-content th label { display: block; padding: 0 0 8px; font-size: 14px; line-height: 1.2; font-weight: bold; text-align: left; }

.carbon-Complex .carbon-complex-entry-content th { padding: 0; }
.carbon-Complex .carbon-complex-entry-content p { padding: 0 0 6px; margin-top: -6px; }
.carbon-Complex .carbon-complex-entry-content { padding: 0; }
.carbon-Complex .carbon-complex-entry-content .carbon-highlight { margin-left: 0; margin-right: 0; }
.carbon-Complex .carbon-complex-entry-content .carbon-row { padding: 10px 10px 12px; border-top: 1px solid #ddd; margin-top: -1px; }
.carbon-Complex .carbon-complex-entry-content .carbon-row.carbon-group-row,
.carbon-Complex .carbon-complex-entry-content .carbon-row:first-child { margin-top: 0; border-top: 0; }
.carbon-Complex .carbon-complex-entry-content .carbon-row.carbon-holder,
.carbon-Complex .carbon-complex-entry-content .carbon-empty-row { padding-left: 0; border: 0; }
.carbon-Complex .carbon-complex-entry-content .subrow-Separator { padding: 0; border: 0; }
.carbon-Complex .carbon-complex-entry-content .subrow-Separator h3 { padding: 16px 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 0;  background: #f2f2f2; }
.carbon-Complex .carbon-complex-entry-content .subrow-Separator:first-child h3 { margin-top: -1px; }
.carbon-Complex .carbon-complex-entry-content .carbon-row.carbon-group-row { padding: 0; }
.carbon-Complex .carbon-subcontainer .carbon-subcontainer .carbon-row.carbon-holder { padding: 0; }
.carbon-Complex .carbon-complex-entry-content .carbon-drag-handle { background: #edecec; }
.carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content { background-color: #f7f6f6; }
.carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #fff; }
.carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #fff; }
.carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #edecec;  }
.carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #f7f6f6;  }
.carbon-Complex .carbon-button { margin-top: 8px; }

.carbon-Complex .carbon-empty-row td { padding-top: 5px; padding-bottom: 7px;  }
.carbon-Complex .carbon-field .carbon-empty-row td  { padding-top: 0; padding-bottom: 0; }

/* Complex Groups - List */
.carbon-Complex .layout-list .layout-list tbody { float: none; clear: none; display: table; table-layout: fixed; }
.carbon-Complex .layout-list .layout-list .carbon-row { float: none; clear: none; display: table-cell; width: 100%; border-top: 0; border-left: 1px solid #ddd; vertical-align: top; }
.carbon-Complex .layout-list .layout-list .carbon-row:first-child { border-left: 0; }

/* Edit Term */
.carbon-container-term > td { padding: 0; }

.edit-term-container { padding-bottom: 0; margin: 0 -2px; }
.edit-term-container .form-field { padding: 0; }
.edit-term-container .form-field > th { width: 208px; }

.edit-term-container > .carbon-container > tbody > .form-field > th,
.edit-term-container > .carbon-container > tbody > .form-field > td { padding-top: 14px; padding-bottom: 14px; }
.edit-term-container > .carbon-container > tbody > .form-field > th { padding-top: 16px; }
.edit-term-container > .carbon-container > tbody > .form-field > td > .field-holder { width: 95%; }
.edit-term-container > .carbon-container > tbody > .carbon-Separator { background: transparent; }
.edit-term-container > .carbon-container > tbody > .carbon-Separator td { padding: 16px 0; }
.edit-term-container > .carbon-container > tbody > .carbon-Separator .field-holder { padding: 14px 15px; border: 1px solid #ccc; margin: 0; background-color: #fbfbfb; border-bottom: 1px solid #ccc; }
.edit-term-container > .carbon-container > tbody > .carbon-Separator .field-holder h3 { padding: 0 0 4px; margin: 0; }
.edit-term-container > .carbon-container > tbody > .carbon-Separator .description { width: 95%; position: relative; padding: 0 15px 14px; border: 1px solid #ccc; border-top: 0; margin: -13px 0 -1px; background-color: #fbfbfb; }

.edit-term-container p label input[type="checkbox"],
.edit-term-container p input[type="checkbox"],
.edit-term-container td > input[type="checkbox"] { margin-top: 2px; }

/* User Profile */
.user-container { padding-bottom: 0; }
.user-container > .carbon-container > tbody > .carbon-field > th,
.user-container > .carbon-container > tbody > .carbon-field > td { padding: 15px 0; }

.user-container > .carbon-container > tbody > .carbon-Separator { border: 0; background: transparent; }
.user-container > .carbon-container > tbody > .carbon-Separator .field-holder { padding: 14px 15px; margin: 0; border: 1px solid #ccc; background-color: #fbfbfb; border-bottom: 1px solid #ccc; }
.user-container > .carbon-container > tbody > .carbon-Separator .field-holder h3 { padding: 0 0 4px; margin: 0; }
.user-container > .carbon-container > tbody > .carbon-Separator .help-text { position: relative; padding: 0 15px 14px; border: 1px solid #ccc; border-top: 0; margin: -13px 0 -1px; background-color: #fbfbfb; }


/* Widgets */
.widget-content .carbon-widget-field-wrapper { padding: 10px 0; }
.widget-content .carbon-highlight { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; }
.widget-content .carbon-HTML,
.widget-content .carbon-Separator { margin: 10px -15px; padding: 12px 10px; }
.widget-content .carbon-HTML { margin-top: 0; margin-bottom: 0; }
.widget-content .carbon-HTML .field-holder { padding: 0; border: 0; }
.widget-content .carbon-Separator { background: #fafafa; }
.widget-content .carbon-Separator h3 { margin-bottom: 0; }
.widget-content .carbon-Separator label { display: none; }
.widget-content .carbon-Separator .field-holder { background: transparent; }
.widget-content .carbon-Complex .carbon-groups-holder > tbody > tr { margin-bottom: 8px; }
.widget-content .carbon-Complex .carbon-Separator,
.widget-content .carbon-Complex .carbon-HTML { margin: 0 0 -1px; }
.widget-content .carbon-Separator,
.widget-content .carbon-HTML { padding-right: 14px; padding-left: 14px; margin: 0 -16px -1px; }
.widget-content .carbon-Separator .help-text { padding-top: 6px; padding-bottom: 0; }
.widget-content .carbon-field > label { padding-bottom: 4px; font-weight: bold; }
.widget-content .help-text { padding-top: 3px; padding-bottom: 7px; }

.widget-content .carbon-Complex .carbon-complex-entry-content { background-color: #f7f6f6;  }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-drag-handle { background: #fff; }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-Separator h3 { background: #fff; }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content { background-color: #fff; }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #edecec; }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-Separator h3 { background: #edecec; }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #f7f6f6; }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #fff;  }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-Separator h3 { color: #fff; }
.widget-content .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #fff;  }

/* Theme Options */
.theme-options-container { padding-bottom: 0; }
.theme-options-container > .carbon-container > tbody > { font-size: 12px; }
.theme-options-container > .carbon-container > tbody > .carbon-field > th,
.theme-options-container > .carbon-container > tbody > .carbon-field > td { padding: 10px 0; }
.theme-options-container > .carbon-container > tbody > .carbon-field > th label { display: block; padding: 15px 0 0; }
.theme-options-container > .carbon-container > tbody > .carbon-field > td > .field-holder { padding: 10px; border: 1px solid #ddd; background: #fff; }
.theme-options-container > .carbon-container > tbody > .carbon-field > td > .help-text { padding: 5px 10px; border: 1px solid #ddd; border-top: 0; margin: 0; font-size: 12px; background: #fff; }
.theme-options-container > .carbon-container > tbody > .carbon-HTML td .field-holder  { padding: 0; border: 0; }
.theme-options-container > .carbon-container > tbody > .carbon-HTML td .help-text { border: 0; background: transparent; }

.theme-options-container > .carbon-container > tbody > .carbon-Separator { padding: 0; border: 0; background: transparent; }
.theme-options-container > .carbon-container > tbody > .carbon-Separator td .field-holder { position: relative; padding: 16px 15px; border: 1px solid #ccc; background: #fff; }
.theme-options-container > .carbon-container > tbody > .carbon-Separator td .help-text { position: relative; padding: 4px 15px 18px; border: 1px solid #ccc; border-top: 0; margin-top: -16px; background: #fff; }

.theme-options-container .carbon-Complex .carbon-complex-entry-content { background-color: #f7f6f6;  }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-drag-handle { background: #fff; }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-Separator h3 { background: #fff; }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content { background-color: #fff; }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #edecec; }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-Separator h3 { background: #edecec; }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #f7f6f6; }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #fff;  }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-Separator h3 { color: #fff; }
.theme-options-container .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #fff;  }

.theme-options-container > .carbon-container > tbody > .carbon-highlight { background: transparent !important; }
.theme-options-container > .carbon-container > tbody > .carbon-highlight > td > .field-holder,
.theme-options-container > .carbon-container > tbody > .carbon-highlight > td > .help-text { background-color: #fff0ee; }
.theme-options-container .carbon-map-canvas { margin: 10px -11px -11px; }

/* Custom Fields */
.postbox.carbon-postbox { display: none; }
.postbox .container-holder { padding-bottom: 0; margin: -6px -12px -12px; }
.postbox .container-holder > .carbon-container { padding: 0; border: 0; border-spacing: 0; border-collapse: collapse; margin: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field { padding: 0; border: 0; margin: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field label { padding-bottom: 6px; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field > td > label { font-weight: bold; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field > td > .help-text { font-style: italic; font-size: 14px; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field th .help-text { padding-bottom: 5px; }
.postbox .container-holder > .carbon-container > tbody > .carbon-Complex > td > .help-text { clear:both; padding-top: 8px; margin-top: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field .carbon-empty-row td { padding-top: 0; padding-bottom: 7px;  }
.postbox .container-holder > .carbon-container > tbody > .carbon-field .carbon-field .carbon-empty-row td  { padding-bottom: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field .help-text { padding-top: 3px; padding-bottom: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field > td { padding: 10px; border-top: 1px solid #d9d9d9; margin: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field:first-child > td { border-top: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-field:first-child > td  {  }
.postbox .container-holder > .carbon-container > tbody > .carbon-Separator { margin: 0; }
.postbox .container-holder > .carbon-container > tbody > .carbon-Separator td { padding-top: 15px; padding-bottom: 15px;  }
.postbox .container-holder > .carbon-container > tbody > .carbon-Separator h3 { padding: 0 !important; font-size: 17px !important; }
.postbox .container-holder > .carbon-container > tbody > .carbon-Separator .help-text { padding-top: 5px; }

.postbox .carbon-Complex .carbon-complex-entry-content { background-color: #f7f6f6;  }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-drag-handle { background: #fff; }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-Separator h3 { margin-top: -1px !important; background: #fff; }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content { background-color: #fff; }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #edecec; }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-Separator h3 { background: #edecec; }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #f7f6f6; }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-drag-handle { background: #fff;  }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-Separator h3 { color: #fff; }
.postbox .carbon-Complex .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content .carbon-complex-entry-content { background: #fff;  }

#poststuff .carbon-Separator h3 { padding: 16px 10px; font-size: 17px; }

@media screen and (max-width: 1320px) {
	.carbon-Complex .layout-list .layout-list .carbon-attachment-preview { width: 100px; height: 100px; }
}

@media screen and (max-width: 1100px) {
	.carbon-Complex .layout-list .layout-list tbody,
	.carbon-Complex .layout-list .layout-list .carbon-row { display: block; }
	.carbon-Complex .layout-list .layout-list .carbon-row { width: 100%; border: 0; border-top: 1px solid #ddd; }
	.carbon-Complex .layout-list .layout-list .carbon-row:after { content: ''; display: block; width: 100%; height: 0; clear: both; }
	.carbon-Complex .layout-list .layout-list .carbon-row:first-child { border-top: 0; }
}

@media screen and (max-width: 782px) {

	.carbon-field .icon-button { min-width: 40px; height: 40px; }

	.carbon-subcontainer .carbon-complex-action a:before,
	.carbon-preview .carbon-file-remove,
	.carbon-field .icon-button:before { font-size: 32px; line-height: 40px; }

	.carbon-field input[type="text"],
	.carbon-field textarea,
	.carbon-field select { padding: 7px 10px; font-size: 16px; line-height: 1.5; }

	.carbon-container .carbon-field .button span { margin: -3px 0 -1px 4px !important; vertical-align: middle; }
	.carbon-container .carbon-Separator { margin-left: 0; margin-right: 0; }

	.carbon-Attachment .icon-button { font-size: 14px; line-height: 40px; }

	.carbon-field .input-with-button { padding-right: 48px; }

	.add-term-container .carbon-Relationship .relationship-container { margin: 3px 0 0; }
	.add-term-container .carbon-Relationship .relationship-left,
	.add-term-container .carbon-Relationship .relationship-right { float: none; display: block; width: auto; padding: 0 0 5px; }

	.edit-term-container > .carbon-container > tbody > .form-field > th { padding-bottom: 5px; width: 100%; }
	.edit-term-container > .carbon-container > tbody > .form-field > td { padding-top: 0; }
	.edit-term-container > .carbon-container > tbody > .form-field > td > .field-holder { width: auto; }
	.edit-term-container > .carbon-container > tbody > .carbon-Separator .description  { width: auto; margin-right: 0; }
	.edit-term-container > .carbon-container > tbody > .carbon-Separator td { padding-bottom: 0; }

	.carbon-radio-list label,
	.carbon-set-list label { padding: 6px 0; }
	.carbon-set-list label input { margin-top: -4px !important; }

	.widget-content .carbon-Separator { margin-left: -16px; margin-right: -16px; }

	.theme-options-container > .carbon-container > tbody > .carbon-field > th { padding-bottom: 0; }
	.theme-options-container > .carbon-container > tbody > .carbon-field > th label { padding: 0; }

	.carbon-Relationship ul { font-size: 15px; }

}

@media screen and (max-width: 600px) {

	.carbon-Relationship .relationship-container { margin: 3px 0 0; }
	.carbon-Relationship .relationship-left,
	.carbon-Relationship .relationship-right { float: none; display: block; width: auto; padding: 0 0 10px; }

}

/* IE Fixes */
.carbon-Complex .layout-list .layout-list tbody,
.carbon-Complex .layout-list .layout-list .carbon-row { float: left\9; display: block\9; width: 100%\9; border: 0\9; border-top: 1px solid #ddd\9; }
.carbon-Complex .layout-list .layout-list .carbon-row:first-child { border-top: 0\9; }
.edit-term-container .carbon-Separator  { border: 0\9; }
