/* ==========================================================================
   Text
   ========================================================================== */

.cf-text__input {
	.wp-block .cf-field & {
		border-color: $wp-color-gray-light-500;
		border-radius: 0;

		&:focus {
			box-shadow: none;
		}
	}
}
