/* ==========================================================================
   Radio Image
   ========================================================================== */

.cf-radio__list-item {
	.block-editor & {
		margin: 0;
	}

	.wp-block .cf-radio-image & {
		@media (min-width: 1440px) {
			flex-basis: 25%;
		}

		@media (min-width: 1680px) {
			flex-basis: 25%;
		}
	}

	.edit-post-sidebar .cf-radio-image & {
		flex-basis: 33.3333%;
	}
}

.cf-radio-image__image {
	.wp-block & {
		border: 1px solid $wp-color-gray-light-500;
	}

	.edit-post-sidebar & {
		border: 1px solid $gb-dark-gray-150;
	}

	.block-editor .cf-radio__input:focus ~ .cf-radio__label &,
	.block-editor .cf-radio__input:checked ~ .cf-radio__label & {
		outline: 2px solid $wp-color-medium-blue;
	}
}
