/* ==========================================================================
   Field
   ========================================================================== */

.cf-field {
	.wp-block & {
		font-family: $wp-font;
		font-size: $wp-font-size;
		line-height: $wp-line-height;
		color: $gb-dark-gray-500;
		margin-top: 14px;
	}
}

.cf-field__label {
	.wp-block & {
		margin-bottom: 4px;
	}
}
