/* ==========================================================================
   Set
   ========================================================================== */

.cf-set__list {
	margin: 0;
}

.cf-set__list-item {
	&:last-child {
		margin-bottom: 0;
	}
}

.cf-set__input {
	.cf-field & {
		margin-top: 0;
	}
}

.cf-set__label {
	.cf-container-term-meta & {
		display: inline;
	}
}
