/* ==========================================================================
   Term Meta
   ========================================================================== */

.cf-container-term-meta {
	margin-bottom: 13px;

	.carbon-table-row & {
		margin-bottom: 0;
	}

	.cf-field {
		margin-top: 13px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.cf-field__head {
	.carbon-table-row & {
		position: absolute;
		left: 0;
		font-weight: 600;
	}
}

.cf-field__body {
	.carbon-table-row & {
		width: 95%;
	}
}
