# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
sftp-config.json
.idea

# OS X metadata
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Node
node_modules

# Unit tests
/tmp

# Composer
/vendor
composer.lock

# Vagrant
.vagrant

# Bundled assets
/assets/dist/
carbon-fields.zip

package-lock.json