/* ==========================================================================
   Select
   ========================================================================== */

.cf-select__input {
	display: block;
	width: 100%;
	margin: 0;
}
