/* ==========================================================================
   oEmbed
   ========================================================================== */

.cf-oembed__preview {
	padding: 12px;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: $wp-color-gray-light-500;
}

.cf-oembed__frame {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
