/* ==========================================================================
   Text
   ========================================================================== */

.cf-text__input {
	display: block;
	width: 100% !important;
	margin: 0;
}
