/* ------------------------------------------------------------ *\
	Colors
\* ------------------------------------------------------------ */

$color-label:         #24282d;

$color-grey-font:     #73777c;
$color-blue-font:     #388dc0;
$color-darkred-font:  #b40000;

$color-grey-bg:       #fafafa;

$color-border:        #e5e5e5;
$color-border-dark:   #dddddd;
$color-border-darker: #cccccc;

$color-state-error:   #cd4c15;
