/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.carbon-button { position: relative; float: left; }

.carbon-button ul { display: none; position: absolute; z-index: 9999; top: 100%; left: 0; min-width: 100%; margin: 0 0 10px; background: #fff; border: 1px solid $color-border; box-shadow: 0 0 3px rgba(0,0,0,.2); }

.carbon-button li { margin: 0; }
.carbon-button li ~ li { border-top: 1px solid $color-border; }

.carbon-button li a { display: block; font-size: 12px; line-height: 18px; padding: 5px 10px; text-decoration: none; white-space: nowrap; }
.carbon-button li a:hover { background: $color-grey-bg; }
