/* ------------------------------------------------------------ *\
	Field Radio Image
\* ------------------------------------------------------------ */
.carbon-radio-image-list {
	overflow: hidden;
}

.carbon-radio-image-item {
	float: left;
	margin-bottom: 10px;
}

.carbon-radio-image-item input {
	display: none;
}

.thumbnail-image-wrap {
	border: 3px solid transparent;
	margin: 0 10px 0 0;
	line-height: 0;
}

.thumbnail-image-wrap img {
	height: auto;
	max-width: 120px;
	padding: 5px;
	border: 1px solid #e6e6e6;
	transition: border-color 0.25s
}

.thumbnail-image-wrap.active {
	border-color: #4db2ec;
}
