/* ------------------------------------------------------------ *\
	Field - Color Picker
\* ------------------------------------------------------------ */

.carbon-Color input.carbon-color.error { background-color: #e74444; }
.carbon-Color input.carbon-color { -webkit-transition: background-color 0.5s ease; transition: background-color 0.5s ease; }
.carbon-Color .button.pickcolor { -webkit-box-shadow: none; box-shadow: none; }
.carbon-Color .button.has-color:before { content:""; }
.carbon-Color .iris-picker { position: absolute; top: 100%; left: 0; z-index: 10; border: 1px solid #e5e5e5; box-shadow: 0 0 5px rgba(0,0,0,.2); }

