/* ------------------------------------------------------------ *\
	Field - Color
\* ------------------------------------------------------------ */

.cf-metaboxes-color__preview { display: inline-block; width: 30px; height: 30px; border: 1px solid #000; margin-right: 10px; }
