/* ==========================================================================
   oEmbed
   ========================================================================== */

.cf-oembed__preview {
	.postbox & {
		border-width: 0 1px 1px;
		border-style: solid;
		border-color: $wp-color-gray-light-500;
	}
}
