/* ==========================================================================
   oEmbed
   ========================================================================== */

.cf-oembed__preview {
	.edit-post-sidebar & {
		border-color: $gb-dark-gray-150;
		border-top-width: 1px;
		margin-top: $size-base;
	}

	.block-editor .cf-oembed:focus-within & {
		border-color: $wp-color-medium-blue;
	}
}

