/* ==========================================================================
   DateTime
   ========================================================================== */

@import '~flatpickr/dist/flatpickr.min.css';

.cf-datetime__inner {
	display: flex;
	align-items: stretch;

	&::before {
		display: none;
	}
}

.cf-datetime__input {
	flex: 1;
	margin: 0;
	margin-right: 6px;
}

.cf-datetime__button {
	flex: 0 0 auto;

	.cf-field & {
		margin-bottom: 0;
		box-shadow: none;
	}
}
