/* ==========================================================================
   DateTime
   ========================================================================== */

@import '~flatpickr/dist/flatpickr.min.css';

.cf-datetime__inner {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: -5px;

	&::before {
		display: none;
	}
}

.cf-datetime__input {
	flex: 1;
	margin: 5px 6px 0 0;
}

.wp-core-ui .button.cf-datetime__button {
	margin-top: 5px;
}

.cf-datetime__button {
	flex: 0 0 auto;

	.cf-field & {
		margin-bottom: 0;
		box-shadow: none;
	}
}
