/* ------------------------------------------------------------ *\
	Container - Nav Menu
\* ------------------------------------------------------------ */

.carbon-container-Nav_Menu > .carbon-field { padding: 10px 0; }

.carbon-container-nav_menu_item > .carbon-field { padding: 10px 0; }

/* Media Gallery Field */
.carbon-container-nav_menu_item .carbon-media-gallery-list-items .carbon-media-gallery-list-item { padding: 5px; flex: 0 0 33%; min-width: 0; }
