/* ==========================================================================
   Field
   ========================================================================== */

.cf-field__label {
	.inside & {
		padding-bottom: 5px;
		font-weight: 600;
		color: $color-dark-gray;
	}
}
