/* ==========================================================================
   File
   ========================================================================== */

.cf-file__inner {
	.edit-post-sidebar & {
		border-color: $gb-dark-gray-150;
	}
}

.cf-file__content {
	.edit-post-sidebar & {
		border-color: $gb-dark-gray-150;
	}
}

.cf-file__name {
	.edit-post-sidebar & {
		border-color: $gb-dark-gray-150;
	}
}
