/* ==========================================================================
   Variables
   ========================================================================== */

$transition-base: .1s linear;
$size-base: 4px;

/* ==========================================================================
   WordPress Variables
   ========================================================================== */

$wp-radius-round: 3px;

/* ==========================================================================
   Gutenberg Variables - https://github.com/WordPress/gutenberg/blob/master/assets/stylesheets/_variables.scss
   ========================================================================== */

$gb-radius-round-rectangle: 4px;
