/* ==========================================================================
   Textarea
   ========================================================================== */

.cf-textarea__input {
	display: block;
	width: 100% !important;
	resize: vertical;
}
