/* ==========================================================================
   Textarea
   ========================================================================== */

.cf-textarea {
	textarea {
		display: block;
		width: 100%;
		resize: vertical;
	}
}
