/* ==========================================================================
   Block
   ========================================================================== */

.cf-block__fields {
	display: flex;
	flex-wrap: wrap;

	.wp-block & {
		margin: $size-base * -2;
	}
}
