/* ==========================================================================
   Map
   ========================================================================== */

.cf-map__search {
	position: relative;
	z-index: 1;
}

.cf-map__canvas {
	position: relative;
	z-index: 0;
	height: 300px;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: $wp-color-gray-light-500;
	background-color: $wp-color-gray-light-200;
}
